@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans serif;
}

body {
    background-color: black;
}

.header {

    border-radius: 50px;
    width: 80vw;
  
    border: 2px solid rgba(255, 255, 255, .2);
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(100px);
  

}

h1 {
    font-size: 1.3rem;
    color: white;
}


.card {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.project {
    border-radius: 30px;
    border: 1px solid;
    height: 470px;
    width: 300px;
    margin-top: 15px;
    border: 2px solid rgba(255, 255, 255, .2);
}



.image{
    border: 1px solid white;
    height: 300px;
    outline: none;
    width: 260px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 17px;
    background-image: url(p.png);
    background-position: center;
    background-size: contain;
}

h2{
    color: white;
    margin-left: 25px;
    font-size: 27px;
    margin-top: 10px;
}
p{
    color: white;
    margin-left: 10px;
    border: 1px solid white;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    
    border-radius: 50px;
}


.tags{
 margin-left: 15px;
    display: flex;
    margin-top: -30px;
}

.icon{
  height: 30px;
  width: 30px;
  margin-left: 250px;
  margin-top: 0px;
  background-image: url(arrow.png);
  background-position: center;
  background-size: contain;
  filter: invert(100%);
}

